.paw-clinic {
    background-color: #472f92;
    height: 100px;
    border-radius: 10px;
    width: 51.5%;
    margin: 0 auto;
    position: sticky;
    margin-bottom: 20px;
    /* margin-left: 50%; */
    top: 0;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  
  .paw-clinic .toggle {
    width: 30px;
    height: 30px;
    margin-right: 30px;
    margin-left: 50px;
  }
  
  .paw-clinic h4 {
    margin: 0;
    color: white;
  }
  
  .paw-clinic svg {
    margin-top: 10px;
  }
  .wrapper {
    margin-bottom: 20px;
  }
  
  .container {
    display: block;
    background-color: white;
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
    border-radius: 10px;
    height: 200px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding-left: 20px;
    position: relative;
  }
  #ayam {
    position: absolute;
    bottom: -100px;
    /* right: 400px; */
  }
  #kucing {
    /* position: absolute;
    z-index: 1;
    top: px;
    left: 500px; */
  }
  .svg-dog {
    float: right;
    left: 60%;
  }
  .text {
    float: left;
    width: calc(100% - 220px);
    padding-top: 20px;
  }
  button {
    background-color: #472f92;
    color: white;
    height: 40px;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .title-hewan {
    font-size: 25px;
    font-weight: bolder;
  }